<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header_item">
                <a href="/" class="<%= path === '/' ? 'active' : ''%>">base</a>
            </li>
            <li class="main-header_item">
                <a href="/all-prods" class="<%= path === '/all-prods' ? 'active' : ''%>">all prods</a>
            </li>
            <li class="main-header_item">
                <a href="/go-kart" class="<%= path === '/go-kart' ? 'active' : ''%>">yo kart</a>
            </li>
            <li class="main-header_item">
                <a href="/admin/new-fun" class="<%= path === '/admin/new-fun' ? 'active' : ''%>">add thing</a>
            </li>
            <li class="main-header_item">
                <a href="/admin/prods" class="<%= path === '/admin/prods' ? 'active' : ''%>">secret admin prod page</a>
            </li>
        </ul>
    </nav>
</header>