<%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../shared/navbar.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for(let prod of prods) { %>
                    <article class="card product-item"> 
                        <header class="prod-tit">
                            <h1><%= prod.title%></h1>
                        </header>
                            <img src = "<%= prod.imgUrl%>"", 
                                alt="<%= prod.title%>"/>
                            <div class="card-content">
                                <h2 class="prod_price"> $<%= prod.price%> </h2>
                                <p class="prod_des"> <%= prod.desc%> </p>
                            </div>
                            <a href="/all-prods/<%= prod.id %>" class="btn">details</a>
                            <%- include('../shared/add-to-cart', {prod: prod}) %>
                    </article>
                <% } %>
            </div>
        <% } else { %>
        <div><h2>there ain't nothing in the shop</h2></div>
        <% } %>
    </main>
<%- include('../shared/butt.ejs') %>
